appdirs==1.4.4
atomicwrites==1.4.0
beautifulsoup4==4.12.2
bidict==0.23.1
bleach==6.0.0
defusedxml==0.7.1
et-xmlfile==1.1.0
Flask
Flask-Cors==4.0.0
Flask-SocketIO==5.3.6
fonttools==4.25.0
gunicorn==21.2.0
h11==0.14.0
inflection==0.5.1
Jinja2==3.1.2
jsonpointer==2.1
jsonschema==4.17.3
MarkupSafe==2.1.2
mistune==2.0.5
mkl-service==2.4.0
munkres==1.1.4
nbclient==0.7.3
nbconvert==7.3.1
nbformat==5.8.0
openpyxl==3.0.10
packaging==23.1
patsy==0.5.3
ply==3.11
protobuf==3.20.3
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
Pygments==2.15.0
pyls-spyder==0.4.0
PyQt5==5.15.10
scipy==1.11.4
simple-websocket==1.0.0
soupsieve==2.4
SQLAlchemy
tinycss2==1.2.1
tornado==6.2
tqdm 
traitlets==5.9.0
webencodings==0.5.1
wsproto==1.2.0
zstandard==0.19.0