<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Parser and Map Creation Form</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">-->
    <!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/singleLineTab.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/batchParserTab.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mapCreationFormTab.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userDefinedComponentsTab.css') }}">




  
</head>
<body>

<div class="navbar">
    <a href="#" class="tablink" onclick="openTab('SingleLine',event)" id="defaultOpen">SingleLine Address Parser</a>
    <a href="#" class="tablink" onclick="openTab('Batch',event)">Batch Parser</a>
    <a href="#" class="tablink" onclick="openTab('MapCreationForm',event)">Map Creation Form</a>
    <a href="#" class="tablink" onclick="openTab('UDComponents',event)">User Defined Component</a>
</div>


<!-- Content for SingleLine Address Parser -->
<div id="SingleLine" class="tabcontent singleLineTab-container">

    <div class="container">
        <form id="myForm" action="/" method="POST">
            <!--<div class="input-group"><label for="file-upload">Please Choose a Pipe Delimited File</label><input type="file" id="file-upload" name="file-upload"></div>-->
            <div class="input-group">
                <label for="address-input">Enter Address</label>
                <input type="text" id="address-input" name="address" placeholder="1234 Main St" autocomplete="address">
            </div>
            <div class="input-group">
                <button type="submit" id="submit-btn">Submit</button>
            </div>
                <div id="exception-controls" style="display:none;">
                <label for="exception-checkbox">
                    <input type="checkbox" id="exception-checkbox" name="ForceException"> Not Satisfied?
                </label>
                <button type="button" id="exception-btn">Force Exception</button>
            </div>
    </div>
            <div class="result-box" id="result-box">
                <table id="resultTable" class="table" style="display: none;">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Token</th>
                            <th scope="col">Address</th>
                            <th scope="col">Component</th>
                            <th scope="col">Component Description</th>
                            <th scope="col">Address Parsed By</th>
                        </tr>
                    </thead>
                    <tbody id="resultBody">
                        <!-- Table rows will be populated dynamically here -->
                    </tbody>
                </table>
            </div>

        </form>
    </div>

<div id="Batch" class="tabcontent batchParserTab-container">
    <!-- Upload Section -->
    <div class="container">
        <form id="BatchForm" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <input type="file" id="file-upload" name="file" required>
                <button type="upload" id="upload-btn">Upload Files</button>
            </div>
            <!--<progress id="progressBar" value="0" max="100"></progress>-->
        </form>
        <!-- Metrics Display -->
        <div id="metrics-display" style="display:none; border: 1px solid black; padding: 10px;">
            <h2>Batch Parsing Metrics</h2>
            <p id="detailed-report"></p>
            <!-- Metrics will be inserted here -->
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------------------------------- -->
                                <!-- Map Creattion Form -->
<!--------------------------------------------------------------------------------------------------- -->
<div id="MapCreationForm" class="tabcontent mapCreationFormTab-container" >
    <div class="map-container" id="upload" style="text-align: center; margin-bottom: 20px;">
        <input type="file" id="jsonFileInput" accept=".json">
        <button id="loadFileBtn">Load JSON File</button>
    </div>
    <div class="map-container" id="mapdata" style="grid-template-columns: 1fr 1fr;" hidden>
        <div class="leftContainer" style="width: 90%; height: 100vh; padding: 20px;">
            <div class="map-result-box" id="map-result-box">
            <table id="data-table">
                <thead>
                    <tr>
                        <th>Mask Token</th>
                        <th>Address Token</th>
                        <th>Address Component</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    <!-- Table body will be populated by JavaScript -->
                </tbody>
            </table>
            </div>
        </div>
        <div class="rightContainer" id="inputData" style="width: 90%; height: 100vh; padding: 20px;">
            <div id="dictionaryInfo">
                Current Dictionary: <span id="currentDictionaryDisplay">0/0</span>
            </div>

            <label for="fileName" class="" style="width: 100%; padding: 8px; margin-top: 5px;">Exception File Name : </label>
            <input type="text" id="filename" readonly><br>
            <label for="recordId" style="">Record ID:</label>
            <input type="text" id="recordId" readonly><br>
            <label for="inputValue" style="">INPUT:</label>
            <input type="text" id="inputValue" readonly><br>
            <label for="mask-inputValue" style="">Mask Pattern:</label>
            <input type="text" id="mask-inputValue" readonly><br>
            <label for="region" class="col-sm-2 col-form-label">Region:</label>
            <select id="region" name="region" class="" style="" required>
                <option value="" selected></option>
                <option value="US">US</option>
                <option value="Puerto Rico">Puerto Rico</option>
            </select><br>
            <label for="type">Address Type : </label>
            <select id="AddressType" name="AddressType" class="" style="" required>
                <option value="" selected></option>
                <option value="street address">Street Address</option>
                <option value="po box address">PO Box Address</option>
                <option value="highay contract address">Highway Contract Address</option>
                <option value="militay address">Military Address</option>
                <option value="attention line address">Attention Line Address</option>
                <option value="roural route address">Roural Route Address</option>
                <option value="puerto rico address">Puerto Rico Address</option>
                <option value="university address">University Address</option>
            </select><br>
            <label id="keyLabel" style="display:none; padding-bottom: 5px;" style=""></label>
            <label for="">Add to V-DB and KB : </label>
            <select name="kb" id="Approved?" required>
                <option value="" selected></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select><br>
            <label for="comment">Comment : </label>
            <textarea name="" id="" cols="30" rows="3"></textarea><br>
            <label for="approvedby">Approved By : </label>
            <select name="approvedby" id="approvedby" required>
                <option value="" selected></option>
                <option value="Committee Member 1">Committee Member 1</option>
                <option value="Committee Member 2">Committee Member 2</option>
                <option value="Committee Member 3">Committee Member 3</option>
            </select><br>
            <div class="Button-container">
            <button class="btn btn-success" id="submit&NextBtn">Submit & Next</button>
            <button class="btn btn-success" id="submitBtn" style="display: none;">Submit</button>
            <button class="btn btn-light" id="clear&exitBtn">Clear & Exit</button>
        </div>
    </div>




</div>
</div>
<!--------------------------------------------------------------------------------------------------- -->
                                <!-- User Defined COmponents -->
<!--------------------------------------------------------------------------------------------------- -->

<div id="UDComponents" class="tabcontent userDefinedComponentsTab-container">
    <div class="container">
    <!-- <form id="udForm" action="/UserDefinedComponents" method="GET"> -->
        <div class="udresult-box" id="udresult-box">
            <table id="udresultTable" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Component</th>
                        <th scope="col">Component Description</th>
                        <th scope="col" class="actions">Actions</th>
                    </tr>
                </thead>
                <tbody id="udresultBody">
                    <!-- Table rows will be populated dynamically here -->
                </tbody>
            </table>
        </div>
        <div class="buttons">
            
            <button onclick="fetchComponentData()">Fetch All the Components</button>
            <button onclick="addComponent()">Add</button>
        </div>
    <!-- </form> -->
    </div>
</div>
<script>
function openTab(tabName, event) {
    var i;
    var tabContents = document.getElementsByClassName("tabcontent");
    var tabLinks = document.getElementsByClassName("tablink");

    for (i = 0; i < tabContents.length; i++) {
        tabContents[i].style.display = "none"; // Hide all tab content
    }

    for (i = 0; i < tabLinks.length; i++) {
        tabLinks[i].className = tabLinks[i].className.replace(" active", ""); // Remove "active" class from all tabs
    }

    document.getElementById(tabName).style.display = "block"; // Show the content of the clicked tab
    event.currentTarget.className += " active"; // Add "active" class to the clicked tab
}
document.getElementById("defaultOpen").click();

</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>


</body>
</html>